# Node.js dependencies
backend/node_modules/
frontend/node_modules/


backend/public/uploads/

# Build output
backend/dist/
frontend/build/

# Log files
*.log

# Env files
backend/.env
frontend/.env

# System files
.DS_Store
Thumbs.db
